.card{
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  z-index: 200;

  @media only screen and (max-width: $bp-medium){
    min-height: 45rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-column-gap: 3rem;
  }

  @media only screen and (max-width: $bp-small){
    grid-template-columns: .5rem max-content .5rem;
    grid-column-gap: 0;
    align-self: start;
  }


  &__side{
    grid-column: 1 / -1;
    height: 45rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .3);

    @media only screen and (max-width: $bp-medium){
      min-width: 32rem;
      max-width: 80rem;
      width: 100%;
    }

    @media only screen and (max-width: $bp-small){
      align-self: start;
      grid-column: 2 / 3;
    }


    &--front{
      background-color: $color-white;
    }

    &--back{
      background-blend-mode: hard-light;
      transform: rotateY(180deg);
      background-repeat: no-repeat;
      background-position: center;

      &-1{
        background-image: linear-gradient(to right bottom,  $color-black, $color-grey-dark-2 ), url('../img/leaderX-cancela.png');
      }

      &-2{
        background-image: linear-gradient(to right bottom,  $color-black, $color-grey-dark-2 ), url('../img/leaderX-walter.png');
      }

      &-3{
        background-image: linear-gradient(to right bottom,  $color-black, $color-grey-dark-2 ), url('../img/leaderX-james.png');
      }

      &-4{
        background-image: linear-gradient(to right bottom,  $color-black, $color-grey-dark-2 ), url('../img/leaderX-anna.png');
      }

      &-5{
        background-image: linear-gradient(to right bottom,  $color-black, $color-grey-dark-2 ), url('../img/leaderX-andre.png');
      }

      &-6{
        background-image: linear-gradient(to right bottom,  $color-black, $color-grey-dark-2 ), url('../img/leaderX-rodrigo.png');
      }
    }
  }

  &:hover &__side--front{
    transform: rotateY(180deg);
  }

  &:hover &__side--back{
    transform: rotateY(0);
  }

  // FRONT SIDE STYLE
  &__picture{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;


    &--1{
      background-image:  url('../img/leaderX-cancela.png');
    }

    &--2{
      background-image: url('../img/leaderX-walter.png');
    }

    &--3{
      background-image: url('../img/leaderX-james.png');
    }

    &--4{
      background-image: url('../img/leaderX-anna.png');
    }

    &--5{
      background-image: url('../img/leaderX-andre.png');
    }

    &--6{
      background-image: url('../img/leaderX-rodrigo.png');
    }
  }


  &__details{
    padding: 3rem;

    ul{
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li{
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child){
          border-bottom: 1px solid $color-grey;
        }
      }
    }
  }

  // BACK SIDE STYLE
  &__cta{
    position: absolute;
    top:66%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: $color-white!important;
  }

  &__price-box{
    margin: 4rem 0;
  }

  &__name{
    font-size: 1.7rem;
    color: $color-white;
    padding: 1.5rem 1.3rem;
  }

  &__curriculum{
    font-size: 1rem;
    font-weight: 100;
  }

  &__social{
    display: inline-block;
    padding-top: 1.5rem;
    margin-top: 2rem;
    border-top: 1px solid $color-white;
  }

  &__social-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  &__social-link{
    text-decoration: none;
    color: $color-white;
    margin-left: 0;

  }

  &__social-img{
    width: auto;
    height: auto;
  }
}
