.mb-sm{margin-bottom: 2rem}
.mb-md{margin-bottom: 4rem}
.mb-hl{margin-bottom: 6rem}
.mb-xl{margin-bottom: 8rem}

.u-progress-bar{
  width: 100%;
  min-width: 25rem;
  max-width: 27rem;
  border-radius: 2.5rem;
  background-color: $color-white;

  @media only screen and (max-width: $bp-small){
    width: 100%;
    min-width: 15rem;
  }
}

.u-progress-bar--fill{
  background-color: $color-primary;
  height: 1.1rem;
  border-radius: 1rem;

  &--60{
    width: 60%!important;
  }

  &--40{
    width: 40%!important;
  }
}