// COLORS
$color-primary: #daad52;
$color-primary-light: #d8ab52;
$color-primary-dark: #9e7526;

$color-grey-dark-1: #555555;
$color-grey-dark-2: #333;

$color-invalid: #e01c1c;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-grey-medium-1: #777;
$color-grey-medium-2: #999;

$color-white: #fff;
$color-black: #000000;
$color-grey: #eee;

// FONT-SIZE
$font-primary: 'Poppins', sans-serif;
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-big: 81.25em;   // 1366px
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;