.banner{
  grid-column: full-start / full-end;
  background-image: url("../img/leaderX-header.png");
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media only screen and (max-width: $bp-large){
    background-image: linear-gradient(rgba($color-primary-light, .93), rgba($color-primary-dark, .93))
  }


  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);

  &__tag{
    z-index: 2;
    color: $color-white;
    font-weight: bold;

    &--1{
      font-size: 4rem;

      grid-row: 3 / 5;
      grid-column: 5 / 7 ;
      align-self: end;
      transform: translateX(7rem) translateY(3rem);
    }

    &--2{
      font-size: 2rem;

      grid-row: 3 / 5;
      grid-column: 9 / 10;
      transform: translateX(3rem) translateY(3rem);
    }

    &--3{
      font-size: 6rem;

      grid-row: 3 / 6;
      grid-column: 10 / 13;
      transform: translateX(3rem) translateY(3rem);
    }

    &--4{
      font-size: 4rem;

      grid-row: 5 / 7;
      grid-column: 5 / 7 ;
      align-self: end;
      transform: translateX(-1rem) translateY(0rem);
    }

    &--5{
      font-size: 6rem;

      grid-row: 5 / 7;
      grid-column: 8 / 10;
      transform: translateX(-9rem) translateY(-.8rem);
    }

    &--6{
      font-size: 4rem;

      grid-row: 5 / 7;
      grid-column: 9 / 14;
      transform: translateX(-1rem) translateY(4rem);
    }

    &--7{
      font-size: 2rem;

      grid-row: 7 / 8;
      grid-column: 5 / 7 ;
      transform: translateX(1rem) translateY(1rem);
    }

    &--8{
      font-size: 2rem;

      grid-row: 7 / 8;
      grid-column: 12 / 14 ;
      transform: translateX(1rem) translateY(1rem);
    }

    &--9{
      font-size: 5rem;

      grid-row: 8 / 10;
      grid-column: 4 /7 ;
      transform: translateX(1.5rem) translateY(-1.5rem);
    }

    &--10{
      font-size: 5rem;

      grid-row: 8 / 10;
      grid-column: 11 / 14 ;
      transform: translateX(3.5rem) translateY(-1.5rem);
    }

    &--11{
      font-size: 5rem;

      grid-row:  10 / 12;
      grid-column: 7 / 10 ;
      transform: translateX(-3.5rem) translateY(-2.5rem);
    }

    &--12{
      font-size: 5rem;

      grid-row: 10 / 12;
      grid-column: 11 /14 ;
      transform: translateX(-1rem) translateY(-2.5rem);
    }

    &--13{
      font-size: 2.5rem;

      grid-row: 12 / 13;
      grid-column: 5 / 7 ;
      transform: translateX(3.5rem) translateY(-2.5rem);
    }

    &--14{
      font-size: 2.5rem;

      grid-row: 12 / 13;
      grid-column: 9 / 11 ;
      transform: translateX(-4.5rem) translateY(-2.5rem);
    }

    &--15{
      font-size: 2.5rem;

      grid-row: 12 / 13;
      grid-column: 12 / 14 ;
      transform: translateX(-3.5rem) translateY(-3rem);
    }

    @media only screen and (max-width: $bp-large){
      display: none;
    }
  }

  &__img{
    grid-column: 7 / 11;
    grid-row: 7 / 10;
    align-self: center;

    transform: translateX(5rem) translateY(-.5rem);

    @media only screen and (max-width: $bp-small){
      grid-column: 6 / 10;
      grid-row: 7 / 10;
      transform: translateX(.5rem) translateY(.5rem);
    }

    @media only screen and (max-width: $bp-large){
      grid-column: 7 / 11;
      grid-row: 7 /  10;
      justify-self: center;
      align-self: center;
    }
  }
}
