.purpose{
  background-color: $color-black;
  grid-column: center-start / center-end;
}

.popup{
  &__purpose-text{

    color: $color-white;
    font-size: 2rem;

    @media only screen and (max-width: $bp-small){
      font-size: 1rem;
    }

    &--top-1{
      grid-column: 3 / 5;
      grid-row: 4 / 5;
    }

    &--top-2{
      grid-column: 4 / 7;
      grid-row: 5 / 6;
      justify-self: end;
    }

    &--top-3{
      grid-column: 3 / 5;
      grid-row: 7 / 8;
      justify-self: center;
      align-self: center;
      transform: translateY(-4rem);
    }

    &--top-4{
      grid-column: 5 / 7;
      grid-row: 7 / 8;
      justify-self: center;
      align-self: center;
      transform: translateY(-4rem);
    }

  }

  &__purpose-span{

    font-size: 4.5rem;
    color:$color-primary;
    font-weight: bold;
    justify-self: center;

    @media only screen and (max-width: $bp-small){
      font-size: 2.5rem;
    }

    &--1{
      grid-column: 3 / 7;
      grid-row: 4 / 5;
      align-self: end;

      transform: translateY(1rem);

    }

    &--2{
      grid-column: 3 / 5;
      grid-row: 6 / 7;
      align-self: center;

    }

    &--3{
      grid-column: 5 / 7;
      grid-row: 6 / 7;
      align-self: center;
    }

  }

  &__purpose-img{

    &--1{
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }

    &--2{
      grid-column: 7 / 8;
      grid-row: 4 / 5;
      justify-self: end;
    }

  }
}