.testimonial{
  background-image: url("../img/LeaderX_testimonials-depoimento.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 1720px;
  padding-bottom: 5.5rem;

  grid-column: full-start / full-end;
  padding-top: 35rem;

  @media only screen and (min-width: $bp-big){
    padding-top: 55rem;
  }


  @media only screen and (max-width: $bp-large){
    background-image: linear-gradient(rgba($color-white, 1), rgba($color-primary-light, .55));
  }

  display: grid;
  grid-template-rows: minmax(4rem, 8rem) repeat(auto-fit, minmax(min-content, 1fr)) minmax(2rem, 3rem);
  grid-template-columns: minmax(2rem, 1fr) min-content minmax(2rem, 1fr);
  grid-row-gap: 4rem;
  align-items: start;

  &__line{
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: minmax(45rem, max-content) minmax(45rem, max-content);
    grid-template-rows: min-content;
    grid-column-gap: 2.5rem;


    @media only screen and (max-width: $bp-large){
      grid-column: 1 / -1;
      text-align: center;
      padding: 1rem 4rem;

      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);
    }


    &--pairs{

      &--text{
        grid-column: 2 / -1;

        @media only screen and (max-width: $bp-large){
          grid-column: 1 / -1;
          grid-row: 1 / 2;
        }
      }
      &--video{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: 200;

        @media only screen and (max-width: $bp-large){
          grid-column: 1 / -1;
          grid-row: 2 / -1;
        }
      }
    }

    &--odd{
      &--text{
        grid-column: 1 / 2;
        text-align: right;

        @media only screen and (max-width: $bp-large){
          grid-column: 1 / -1;
          grid-row: 1 / 2;
        }
      }
      &--video{
        grid-column: 2 / -1;
        border-radius: 4rem;
        z-index: 200;

        @media only screen and (max-width: $bp-large){
          grid-column: 1 / -1;
          grid-row: 2 / -1;
        }
      }
    }
  }

  &__heading{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;

    transform: translateY(-15rem);

    @media only screen and (max-width: $bp-largest){
      padding: 0;
    }

    @media only screen and (max-width: $bp-medium){
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      transform: translateY(-20rem);
    }
  }

  &__iframe{
      border-radius: 1.5rem;
  }


  &__btn{
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;

    padding-bottom: 7rem;

    @media only screen and (max-width: $bp-medium){
      grid-column: 2 / 3;
      grid-row: 6 / 7;

      font-size: 1rem;
      padding: 1rem;
    }

  }

}
